.feature-card {
  transition: all 0.4s ease;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 4px 12px 0 rgba(12, 0, 4, 0.1);
    transform: translateY(-4px);
  }
  &:hover .icon {
    color: $primary;
  }
  &:hover h3 {
    color: $primary;
  }
  .header {
    .icon {
      font-size: 45px;
      transition: all 0.4s ease;
    }
  }
  .body {
    h3 {
      font-weight: 600;
      transition: all 0.4s ease;
    }
  }
}

.section-card {
  width: 100%;
  img {
    transition: all 0.4s ease;
    border-radius: 5px;
    aspect-ratio: 16 / 9;
  }
  &:hover img {
    box-shadow: 0px 0px 30px 0 rgba(12, 0, 4, 0.2);
    transform: translateY(-8px);
  }
  
  h4 {
    font-weight: 600;
  }
}

.card-article {
  width: 100%;
  &:hover .header {
    box-shadow: 0px 0px 30px 0 rgba(12, 0, 4, 0.2);
    transform: translateY(-8px);
  }
  &:hover .body h4 {
    color: $primary;
  }
  .header {
    width: 100%;
    height: auto;
    max-height: 320px;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 7px 7px 0 0;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.4s ease;
    }
  }
  .detils {
    .categroy {
      font-weight: 700;
    }
    .date {
      color: $gray;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  .body {
    h4 {
      font-weight: 600;
      color: #000;
      transition: all 0.4s ease;
      @media (max-width: 620px) {
        font-size: 20px;
      }
    }
    p {
      @media (max-width: 620px) {
        font-size: 16px;
      }
    }
  }
}

.question-card {
  width: 100%;
  padding: 10px;
  background: $white;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 4, 0.1);
  border-radius: 5px;
  .head {
    .icon {
      transition: all 0.5s ease;
      transform-origin: center;
      &.show {
        transform: rotateZ(180deg);
      }
    }
    .question-title {
      font-size: 22px;
    }
    font-size: 22px;
    font-weight: 600;
    font-family: $fontTitle;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    color: $primary;
  }
  .content {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    font-size: 18px;
    line-height: 1.4;
    font-family: $fontText;
    color: gray;
    &.show {
      height: auto;
    }
  }
}
